// .env.example
// Example environment variables for the backend application. Adjust the values as needed for your local development or production environment.
// For security reasons, do not commit your .env file to version control. The .env file should be added to .gitignore.

// VITE_API_BASE_URL is used in the frontend application to specify the base URL for API requests. Update this value to point to your backend API endpoint, whether it's a local development server or a deployed instance.
// Use following URL for local development with backend running on Azure:
VITE_API_BASE_URL=https://ccalc-api.azurewebsites.net

