openapi: 3.1.0
info:
  title: Cloudflare R2 Media Manager API
  version: 2.0.0
  summary: >
    API for hierarchical image and video management in an R2 bucket. Supports folder
    organization, recursive folder deletion, automatic empty-folder cleanup,
    and path-based upload/streaming.
servers:
  - url: https://images.ccalc.live
paths:
  /api/admin/sunday-bulletins/{objectKey}:
    put:
      summary: Replace a church bulletin PDF (backend only)
      description: Requires the existing file admin secret. Only private/sunday-bulletins/{churchId}/{yyyy-MM-dd}.pdf keys are accepted. Maximum 20 MiB; PDF header required.
      parameters:
        - in: path
          name: objectKey
          required: true
          schema: { type: string }
        - in: header
          name: x-alife-file-admin-secret
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/pdf:
            schema: { type: string, format: binary }
      responses:
        "204": { description: Uploaded or replaced }
        "400": { description: Invalid PDF or content type }
        "403": { description: Invalid server secret }
        "413": { description: PDF exceeds 20 MiB }
  /api/private-files/{objectKey}:
    get:
      summary: Read a church bulletin with a short-lived backend signature
      description: Bulletin keys only. Responses use private, no-store. Signature covers the complete object key and Unix expiry separated by a newline, using HMAC-SHA256 and base64url encoding. HEAD uses the same validation without a body.
      parameters:
        - in: path
          name: objectKey
          required: true
          schema: { type: string }
        - in: query
          name: exp
          required: true
          schema: { type: integer }
        - in: query
          name: sig
          required: true
          schema: { type: string }
      responses:
        "200":
          description: PDF streamed inline
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "403": { description: Missing, expired or invalid signature }
        "404": { description: Bulletin not found }
  /api/images/config:
    get:
      summary: Get runtime configuration
      description: Returns bucket binding, public base URL, list limit, and help file key.
      responses:
        "200":
          description: Configuration payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  bucketBinding: { type: string }
                  bucketName: { type: string }
                  publicBaseUrl: { type: string }
                  listLimit: { type: string }
                  helpBucketObjectKey: { type: string }
  /api/config:
    get:
      summary: Get runtime configuration (legacy alias)
      description: Alias of /api/images/config kept for backwards compatibility.
      responses:
        "200":
          description: Configuration payload
  /api/images/list/{path}:
    get:
      summary: List media files and subfolders at a folder path
      description: >
        Returns the direct image/video files and immediate subfolders at the given path.
        Use an empty path (or omit it) to list the root. Folder paths are
        virtual (R2 key prefixes); they appear as long as they contain objects.
      parameters:
        - in: path
          name: path
          required: false
          description: Folder path to list (e.g. "animals" or "animals/cats"). Omit for root.
          schema:
            type: string
      responses:
        "200":
          description: Folder contents
          content:
            application/json:
              schema:
                type: object
                properties:
                  path:
                    type: string
                    description: The requested folder path (/ for root)
                  folders:
                    type: array
                    items:
                      type: object
                      properties:
                        type: { type: string, enum: [folder] }
                        path: { type: string, description: Folder prefix including trailing slash }
                        name: { type: string, description: Folder display name }
                  media:
                    type: array
                    items:
                      type: object
                      properties:
                        type: { type: string, enum: [image, video] }
                        kind: { type: string, enum: [image, video] }
                        key: { type: string }
                        name: { type: string }
                        size: { type: integer }
                        uploaded: { type: string, format: date-time }
                        etag: { type: string }
                        contentType: { type: string }
                        url: { type: string, format: uri }
                  images:
                    type: array
                    description: Backwards-compatible alias of media.
                    items:
                      type: object
                      properties:
                        type: { type: string, enum: [image, video] }
                        kind: { type: string, enum: [image, video] }
                        key: { type: string }
                        name: { type: string }
                        size: { type: integer }
                        uploaded: { type: string, format: date-time }
                        etag: { type: string }
                        contentType: { type: string }
                        url: { type: string, format: uri }
  /api/images:
    get:
      summary: List root images and subfolders (legacy alias of /api/images/list)
      responses:
        "200":
          description: Root folder contents
    post:
      summary: Upload image/video to root
      description: Alias of POST /api/images/ for uploading to the root folder.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "201":
          description: Media uploaded to root
  /api/images/{path}:
    get:
      summary: Stream media object by path
      description: >
        Fetches and streams the image/video stored at the given key path. Returns
        404 if the key does not exist.
      parameters:
        - in: path
          name: path
          required: true
          description: Full image key path (e.g. "animals/cats/tabby.jpg")
          schema:
            type: string
      responses:
        "200":
          description: Image or video binary stream
          content:
            image/*:
              schema:
                type: string
                format: binary
            video/*:
              schema:
                type: string
                format: binary
        "404":
          description: Image not found
    post:
      summary: Upload image/video into a folder path
      description: >
        Uploads an image/video into the folder at {path}. The uploaded filename is
        taken from the multipart "file" field and sanitized. The resulting R2
        key is {path}/{filename}.
      parameters:
        - in: path
          name: path
          required: false
          description: Destination folder path (e.g. "animals/cats"). Omit for root.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "201":
          description: Media uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  media:
                    type: object
                    properties:
                      type: { type: string, enum: [image, video] }
                      kind: { type: string, enum: [image, video] }
                      key: { type: string }
                      name: { type: string }
                      folder: { type: string }
                      size: { type: integer }
                      uploaded: { type: string, format: date-time }
                      contentType: { type: string }
                      url: { type: string, format: uri }
                  image:
                    description: Backwards-compatible alias of media.
                    type: object
                    properties:
                      type: { type: string, enum: [image, video] }
                      kind: { type: string, enum: [image, video] }
                      key: { type: string }
                      name: { type: string }
                      folder: { type: string }
                      size: { type: integer }
                      uploaded: { type: string, format: date-time }
                      contentType: { type: string }
                      url: { type: string, format: uri }
        "400":
          description: Bad request (not multipart, missing file, or non-media type)
    delete:
      summary: Delete image or folder (and all contents) at path
      description: >
        If {path} matches an existing image key, that image is deleted.
        If {path} is a folder prefix (virtual folder), all images and
        subfolders under it are deleted recursively. In both cases, empty
        parent folder markers are automatically cleaned up.
      parameters:
        - in: path
          name: path
          required: true
          description: Image key or folder path to delete (e.g. "animals/cats/tabby.jpg" or "animals/cats")
          schema:
            type: string
      responses:
        "200":
          description: Deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: string
                    description: The path that was deleted
                  type:
                    type: string
                    enum: [image, folder]
                    description: Whether an image or folder was deleted
                  count:
                    type: integer
                    description: Number of objects deleted (folder deletions only)
        "404":
          description: Path not found
